﻿@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
    <style>
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px;
            line-height: 60px;
            background-color: #f5f5f5;
        }
    </style>
}
<main role="main" class="container">
    <h1 class="mt-5">IdentityServer4</h1>
    <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
    <p>Click <a href="/account/login">hear</a> redirect to login page, or <a href="/account/signout">sigin out</a> account.</p>
    @if (User.Identity.IsAuthenticated)
    {
        <h2>Your account information:</h2>
        foreach (var item in User.Claims)
        {
            <p>@item.Value</p>
        }
    }
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">@@ identity server 4</span>
    </div>
</footer>